.backgroundImg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: 0 0;
}

.backButton {
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: hsl(209, 61%, 16%);
}

.iconChevronLeft {
  width: 60px;
  height: 60px;
}

.iconChevronLeft .primary {
  fill: hsl(209, 61%, 16%);
}

.settings {
  position: relative;
  top: 205px;
  min-height: calc(100vh - 205px);
  font-family: ui-sans-serif, system-ui, -apple-system,
  BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
  Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: hsl(210, 36%, 96%);
  color: hsl(209, 61%, 16%);
}

.heading {
  font-size: 36px;
  font-family: ui-sans-serif, system-ui, -apple-system,
  BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
  Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-align: center;
  color: hsl(209, 61%, 16%);
  width: 210px;
  position: relative;
  top: calc(205px / 2);;
  margin: 0 auto;
}

.frequencySetting {
  border-top: 3px solid #9FB3C8;
  border-bottom: 3px solid #9FB3C8;
  height: 136px;
  position: relative;
  color: hsl(209, 61%, 16%);
  text-align: center;
  font-size: 24px;
}

.frequencySetting input {
  margin-right: 15px;
}

.frequencySetting label:first-of-type {
  margin-right: 60px;
}

.deleteUser {
  cursor: pointer;
  border-bottom: 3px solid #9FB3C8;
  height: 68px;
  position: relative;
  background-color: hsl(0, 91%, 69%);
  color: hsl(210, 36%, 96%);
}

.deleteUser span {
  font-size: 24px;
  position: relative;
  top: 17px;
  left: calc((100% - 265px) / 2);
}

.iconTrash {
  width: 30px;
  height: 30px;
  position: absolute;
  right: calc((100% - 265px) / 2);
  top: calc((63px - 30px) / 2);
}

.iconTrash .primary {
  fill: hsl(210, 36%, 96%);
}

.iconTrash .secondary {
  fill: hsl(210, 36%, 96%);
}
